body{
    text-align: center;
    background-color: gray;
}

h1{
    font-size: 5rem;
    padding: 44px;
    font-weight: 900;
    font-style: bold;
    text-shadow: 2px 0 black;
}

/* button{
    font-size: 50px;
} */
#drum_btn{
    margin: 10px auto;
}

.pressed{
    box-shadow: 0px 3px 4px 0px red;
    opacity: 0.5;
}

.sound_btn{
    font-size: 5rem;
    outline: none;
    border: 10px solid black;
    line-height: 2;
    font-weight: 900;
    text-shadow: 3px 0 #fff;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    border-color: black;
}

/* footer{
    
} */
